<%- include('../partials/header.ejs')%>
    <div class="content">

        <!-- <form method="POST" action="/stories/<%= story.id%>?_method=PUT" class="new-form">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%= story.title%>">

            <label for="content">Content</label>
            <textarea rows="5" id="content" name="content" class="fixed-width"><%= story.content%></textarea>

            <input type="submit" value="Submit">

        </form> -->

        <form action="#" method="POST" enctype="multipart/form-data">
            <label for="event_category">Category</label>
            <select name="event_category" id="event_category" required>
                <option value="" disabled selected>--Select a Category--</option>
                <option value="sports">Sports</option>
                <option value="video_games">Video Games</option>
                <option value="crafts">Crafts</option>
                <option value="study">Study</option>
                <option value="other">Other</option>
            </select>
            <label for="event_title">Title</label>
            <input type="text" name="event_title" id="event_title" placeholder="title" required>
            <label for="event_details">Details</label>
            <input type="text" name="event_details" id="event_details" placeholder="description" required>
            <label for="event_location">Where</label>
            <input type="text" name="event_location" id="event_location" placeholder="location" required>
            <label for="event_start">Start</label>
            <input type="datetime-local" name="event_start" id="event_start" required>
            <label for="event_end">End</label>
            <input type="datetime-local" name="event_end" id="event_end" required>
            <label for="event_image">Image</label>
            <input type="file" name="event_image" id="event_image" required>
            <input type="submit" value="Submit">
        </form>

    </div>
    <%- include('../partials/footer.ejs')%>