<%- include('../partials/header.ejs')%>
    <div class="content">
        <main>
            <h2>
                <%= event.title%>
                    <%if(user == event.host._id){%>
                        <form>
                            <div id="alterButtons">
                                <button type="submit" formmethod="GET" formaction="/events/<%= event.id%>/edit"><img
                                        src="/images/edit-button.png" alt="Edit" class="button"></button>
                                <button type="submit" formmethod="POST"
                                    formaction="/events/<%= event.id%>/?_method=DELETE"><img
                                        src="/images/delete-button.png" alt="Delete" class="button"></button>
                            </div>
                        </form>
                    <%}%>
            </h2>
            <div id="rsvp-section">
                Going?
                <form method="POST" action="/events/<%= event.id %>/rsvp" class="rsvp-form">
                    <button type="submit" name="status" value="YES" class="rsvp-button">Yes</button>
                    <button type="submit" name="status" value="NO" class="rsvp-button">No</button>
                    <button type="submit" name="status" value="MAYBE" class="rsvp-button">Maybe</button>
                </form>
            </div>
            <small>Posted <%= event.createdAt%> by <%= event.host.firstName + ' ' + event.host.lastName%></small>
            <div id="event">
                <img src="/images/<%= event.image %>" alt="<%= event.title %>" class="event_image"><br>
                Host: <%= event.host.firstName + ' ' + event.host.lastName%><br>
                    Location: <%= event.location%><br>
                        Start time: <%= event.start%><br>
                            End time: <%= event.end%><br>
                                Details: <%= event.content%><br>
                                    Number of RSVPs: 0<!--  event.rsvps.filter(rsvp => rsvp.status === 'YES').length -->
            </div>
        </main>
    </div>
    <%- include('../partials/footer.ejs')%>